@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 97px;
  background: linear-gradient(273.85deg, #FF9900 26.38%, #FFC700 72.77%);
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 8px 8px 14px rgba(255, 153, 0, 0.36);
          box-shadow: 8px 8px 14px rgba(255, 153, 0, 0.36);
  border-radius: 0px 15px;
  font-size: 18px;
  line-height: 21px;
  color: #5A5A5A;
  cursor: pointer;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FF9900;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #C4C4C4;
}

input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #C4C4C4;
}

input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #C4C4C4;
}

input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #C4C4C4;
}

.none {
  display: none;
}

.header {
  position: relative;
  padding-top: 23px;
  background-color: #fff;
  z-index: 7;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 37px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.header.sticky {
  top: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 6;
  -webkit-box-shadow: 0px 15px 8px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 8px -10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 550px) {
  .header.sticky {
    height: 85px;
    padding-top: 15px;
  }
}

.header.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__content {
  padding-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
}

@media (max-width: 1000px) {
  .header__content {
    padding-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .header__content {
    padding-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .header__content {
    padding-bottom: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

@media (max-width: 550px) {
  .header__content_scroll {
    height: 60px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-bottom: 0;
  }
}

@media (max-width: 1120px) {
  .header__logo {
    width: 230px;
  }
}

@media (max-width: 1000px) {
  .header__logo {
    width: 190px;
  }
}

@media (max-width: 840px) {
  .header__logo {
    width: 140px;
  }
}

@media (max-width: 550px) {
  .header__logo {
    width: 270px;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .header__logo_scroll {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__nav_mobile {
  display: none;
}

@media (max-width: 768px) {
  .header__nav_mobile {
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 6;
    -webkit-box-shadow: 0px 15px 8px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 15px 8px -10px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 550px) {
  .header__nav_mobile {
    top: 200px;
  }
}

.header__nav_mobile_active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__nav_mobile_scroll {
  top: 85px;
}

.header__nav-close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .header__nav-close {
    display: none;
  }
}

.header__nav-close_mobile {
  display: none;
}

@media (max-width: 550px) {
  .header__nav-close_mobile {
    display: block;
    opacity: 0;
    position: absolute;
    top: 4px;
    right: 6px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

@media (max-width: 550px) {
  .header__nav-close_mobile_active {
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__nav-item {
  margin-right: 31px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

@media (max-width: 1050px) {
  .header__nav-item {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header__nav-item {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.header__nav-link {
  font-size: 14px;
  line-height: 16px;
  color: #5A5A5A;
}

@media (max-width: 900px) {
  .header__nav-link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 768px) {
  .header__nav-link {
    font-size: 20px;
    line-height: 23px;
  }
}

.header__tel {
  opacity: 1;
  margin-right: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1200px) {
  .header__tel {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .header__tel {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__tel_scroll {
  display: none;
}

@media (max-width: 550px) {
  .header__tel_scroll {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.header__tel_scroll_active {
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header__tel-link {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5A5A5A;
}

@media (max-width: 1120px) {
  .header__tel-link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 1000px) {
  .header__tel-link {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 840px) {
  .header__tel-link {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 550px) {
  .header__tel-link {
    font-size: 24px;
    line-height: 28px;
  }
}

.header__tel-timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel-timetable p {
  margin-left: 7px;
  font-size: 14px;
  line-height: 16px;
  color: #FF9900;
}

.bar {
  display: none;
}

@media (max-width: 768px) {
  .bar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 12px;
    padding-bottom: 15px;
    background: #212121;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    z-index: 6;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

.out__bar {
  -webkit-transform: translateY(220%);
          transform: translateY(220%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bar__item {
  margin-right: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar__item:last-child {
  margin-right: 0;
}

.bar__item img {
  margin-bottom: 6px;
  width: 25px;
  height: auto;
}

@media (max-width: 550px) {
  .bar__item img {
    width: 16px;
    height: 16px;
  }
}

.bar__item p {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

@media (max-width: 420px) {
  .bar__item {
    margin-right: 20px;
  }
}

.bar__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.bar__menu p {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

@media (max-width: 420px) {
  .bar__menu {
    margin-right: 20px;
  }
}

.bar__menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -75px;
  width: 58px;
  height: 58px;
  background: #FF8A00;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
}

.bar__menu-icon span {
  position: relative;
  width: 33px;
  height: 3.5px;
  background-color: #fff;
}

.bar__menu-icon span::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 0;
  width: 16.5px;
  height: 3.5px;
  background-color: #fff;
}

.bar__menu-icon span::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 16.5px;
  height: 3.5px;
  background-color: #fff;
}

.hero {
  position: relative;
  margin-top: 34px;
  margin-bottom: 45px;
}

.hero::before {
  content: '';
  position: absolute;
  width: 136.99px;
  height: 128.6px;
  background-image: url("../img/hero/hero-leaf1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 17%;
  top: 14%;
  z-index: 1;
}

@media (max-width: 1250px) {
  .hero::before {
    left: 0;
  }
}

@media (max-width: 550px) {
  .hero::before {
    top: auto;
    left: 28%;
    bottom: 95px;
    -webkit-transform: rotate(278deg);
            transform: rotate(278deg);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

.hero::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 184px;
  background-image: url("../img/hero/hero-leaf4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 15%;
  bottom: -11%;
}

@media (max-width: 1250px) {
  .hero::after {
    right: 0;
  }
}

@media (max-width: 768px) {
  .hero::after {
    content: none;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 125px;
  }
}

@media (max-width: 550px) {
  .hero {
    margin-top: 220px;
  }
}

.hero__content {
  position: relative;
  padding-left: 100px;
  padding-top: 108px;
  padding-bottom: 108px;
  background-image: url("../img/hero/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.hero__content::before {
  content: '';
  position: absolute;
  width: 186.09px;
  height: 122.12px;
  background-image: url("../img/hero/hero-leaf3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 31%;
  bottom: 25%;
}

@media (max-width: 768px) {
  .hero__content::before {
    right: 0;
  }
}

@media (max-width: 550px) {
  .hero__content::before {
    width: 130.67px;
    height: 78.55px;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: rotate(74deg);
            transform: rotate(74deg);
    bottom: 0;
    right: -43px;
  }
}

.hero__content::after {
  content: '';
  position: absolute;
  width: 100.67px;
  height: 90.55px;
  background-image: url("../img/hero/hero-leaf2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 0%;
  top: 15%;
}

@media (max-width: 768px) {
  .hero__content::after {
    content: none;
  }
}

@media (max-width: 550px) {
  .hero__content {
    background-image: url("../img/hero/hero-bg-mobile.png");
    padding-top: 19px;
    padding-bottom: 17px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.hero__title {
  position: relative;
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}

.hero__title span {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
}

.hero__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 34px;
}

@media (max-width: 768px) {
  .hero__desc {
    margin-bottom: 204px;
  }
}

.hero__desc-item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__desc-item:last-child {
  margin-bottom: 0;
}

.hero__desc-item img {
  margin-right: 23px;
}

.hero__desc-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__desc-item-right span:first-child {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.hero__desc-item-right span:last-child {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

@media (max-width: 550px) {
  .hero__btn {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.benefits {
  margin-bottom: 58px;
}

.benefits__content {
  position: relative;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 44px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.benefits__content::before {
  content: '';
  position: absolute;
  width: 114px;
  height: 120px;
  background-image: url("../img/benefits/benefits-leaf1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: -55px;
  left: 29%;
  z-index: 1;
}

@media (max-width: 768px) {
  .benefits__content::before {
    display: none;
  }
}

.benefits__item {
  position: relative;
  margin-bottom: 40px;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__item:nth-child(4) {
  margin-bottom: 0;
}

@media (max-width: 700px) {
  .benefits__item:nth-child(4) {
    margin-bottom: 48px;
  }
}

.benefits__item:nth-child(5) {
  margin-bottom: 0;
}

.benefits__item img {
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .benefits__item {
    margin-bottom: 48px;
    width: 47%;
  }
}

.benefits__item-title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #5A5A5A;
}

@media (max-width: 550px) {
  .benefits__item-title {
    font-size: 18px;
    line-height: 21px;
  }
}

.benefits__item-desc {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #5A5A5A;
}

@media (max-width: 550px) {
  .benefits__item-desc {
    font-size: 12px;
    line-height: 14px;
  }
}

.what {
  margin-bottom: 30px;
}

@media (max-width: 550px) {
  .what .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.what__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  .what__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.what__left {
  position: absolute;
  left: -160px;
  width: 774px;
  height: 424px;
}

@media (max-width: 550px) {
  .what__left img:first-child {
    display: none;
  }
}

.what__left img:last-child {
  display: none;
}

@media (max-width: 550px) {
  .what__left img:last-child {
    display: block;
  }
}

@media (max-width: 1050px) {
  .what__left {
    left: -115px;
    width: 578px;
    height: auto;
  }
}

@media (max-width: 950px) {
  .what__left {
    position: relative;
    left: 0;
  }
}

@media (max-width: 550px) {
  .what__left {
    top: -68px;
    left: auto;
    margin-right: auto;
    height: 350px;
  }
}

.what__right {
  position: relative;
  margin-left: auto;
  width: 547px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

@media (max-width: 950px) {
  .what__right {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .what__right {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.what__title {
  margin-bottom: 15px;
}

.what__desc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.what__desc {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
  color: #5A5A5A;
}

.what__desc:last-child {
  margin-bottom: 0;
}

.stock {
  margin-bottom: 45px;
}

.stock__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stock__content::before {
  content: '';
  position: absolute;
  width: 270px;
  height: 323px;
  background-image: url("../img/stock/stock-leaf1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: -102px;
  top: -17px;
}

@media (max-width: 768px) {
  .stock__content::before {
    content: none;
  }
}

@media (max-width: 768px) {
  .stock__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.stock__item {
  width: 32%;
  position: relative;
  padding-top: 17px;
  padding-left: 5px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.stock__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .stock__item {
    width: 100%;
    margin-bottom: 47px;
  }
}

.stock__item-title {
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #FF9900;
}

.stock__item-undertitle {
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #5A5A5A;
}

@media (max-width: 550px) {
  .stock__item-undertitle {
    margin-bottom: 17px;
  }
}

.stock__item-img {
  margin-bottom: 34px;
}

@media (max-width: 550px) {
  .stock__item-img {
    margin-bottom: 24px;
  }
}

.stock__item-price,
.stock__item-delivery {
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5A5A5A;
  text-align: center;
}

.stock__item-price span,
.stock__item-delivery span {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.stock__item-price p,
.stock__item-delivery p {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.stock__item-delivery {
  margin-bottom: 44px;
}

.stock__btn {
  position: absolute;
  bottom: -20px;
}

@media (max-width: 915px) {
  .stock__btn {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .stock__btn {
    width: auto;
  }
}

.stock__desclamer {
  margin-top: 37px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 550px) {
  .stock__desclamer {
    margin-top: 60px;
    font-size: 14px;
    line-height: 16px;
  }
}

.order {
  position: relative;
  margin-bottom: 42px;
}

@media (max-width: 550px) {
  .order .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.order_first::before {
  content: '';
  position: absolute;
  width: 228.64px;
  height: 180.78px;
  background-image: url("../img/order/order-leaf3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  left: 218px;
  bottom: -94px;
}

@media (max-width: 780px) {
  .order_first::before {
    content: none;
  }
}

.order_second::before {
  content: '';
  position: absolute;
  width: 228.64px;
  height: 180.78px;
  background-image: url("../img/order/order-leaf4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  left: 50%;
  bottom: -84px;
}

@media (max-width: 780px) {
  .order_second::before {
    content: none;
  }
}

.order__content {
  position: relative;
  padding-left: 15px;
  padding-top: 26px;
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #424242;
  border-radius: 15px;
}

@media (max-width: 780px) {
  .order__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
}

@media (max-width: 550px) {
  .order__content {
    padding-top: 18px;
    border-radius: 0;
  }
}

.order__content_first::before {
  content: '';
  position: absolute;
  width: 186.64px;
  height: 135.78px;
  background-image: url("../img/order/order-leaf1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  right: 361px;
  top: 75px;
}

@media (max-width: 1050px) {
  .order__content_first::before {
    width: 141.64px;
    height: 87.78px;
    right: 266px;
    top: 120px;
  }
}

@media (max-width: 780px) {
  .order__content_first::before {
    content: none;
  }
}

.order__content_first::after {
  content: '';
  position: absolute;
  width: 142.64px;
  height: 135.78px;
  background-image: url("../img/order/order-leaf2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  right: -158px;
  bottom: 90px;
}

.order__content_second::before {
  content: '';
  position: absolute;
  width: 186.64px;
  height: 187.78px;
  background-image: url("../img/order/order-leaf5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  right: -112px;
  top: 57px;
}

@media (max-width: 780px) {
  .order__content_second::before {
    content: none;
  }
}

.order__left {
  position: relative;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

@media (max-width: 915px) {
  .order__left {
    width: 400px;
  }
}

@media (max-width: 780px) {
  .order__left {
    width: 550px;
  }
}

@media (max-width: 620px) {
  .order__left {
    width: 100%;
  }
}

.order__title {
  margin-bottom: 17px;
}

@media (max-width: 780px) {
  .order__title {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .order__title {
    margin-bottom: 9px;
  }
}

.order__desc {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 780px) {
  .order__desc {
    text-align: center;
  }
}

@media (max-width: 620px) {
  .order__form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.order__input-name,
.order__input-tel,
.order__input-value {
  width: 100%;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__input-name p,
.order__input-tel p,
.order__input-value p {
  font-size: 13px;
  line-height: 15px;
  color: #C4C4C4;
}

.order__input-name input,
.order__input-tel input,
.order__input-value input {
  width: 100%;
  padding: 13px 21px 16px 21px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  outline: none;
}

.order__btn {
  margin-top: 15px;
}

@media (max-width: 780px) {
  .order__btn {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.order__right {
  position: absolute;
  width: 831px;
  height: 387px;
  right: -206px;
  top: -10px;
}

@media (max-width: 1050px) {
  .order__right {
    top: 40px;
    width: 700px;
    height: auto;
  }
}

@media (max-width: 780px) {
  .order__right {
    position: relative;
    right: auto;
    height: 350px;
    top: auto;
  }
}

@media (max-width: 550px) {
  .order__right {
    right: -120px;
  }
}

.order__right2 {
  position: absolute;
  width: 909px;
  height: 387px;
  right: -154px;
  top: -75px;
}

@media (max-width: 1050px) {
  .order__right2 {
    top: 40px;
    width: 700px;
    height: auto;
  }
}

@media (max-width: 780px) {
  .order__right2 {
    position: relative;
    right: auto;
    height: 350px;
    top: auto;
  }
}

@media (max-width: 550px) {
  .order__right2 {
    right: -120px;
  }
}

.steps {
  margin-bottom: 76px;
}

.steps__title {
  position: relative;
  margin-bottom: 17px;
  z-index: 3;
}

.steps__undertitle {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 21px;
  color: #5A5A5A;
}

.steps__content {
  position: relative;
  padding-left: 16px;
  padding-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: linear-gradient(273.85deg, #FF9900 26.38%, #FFC700 72.77%);
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 8px 8px 14px rgba(255, 153, 0, 0.36);
          box-shadow: 8px 8px 14px rgba(255, 153, 0, 0.36);
  border-radius: 0px 15px;
}

.steps__content::before {
  content: '';
  position: absolute;
  background-image: url("../img/steps/steps-leaf1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 142px;
  height: 130px;
  bottom: -100px;
  left: 41%;
  z-index: -1;
}

@media (max-width: 768px) {
  .steps__content::before {
    background-image: url("../img/steps/steps-leaf2.png");
    bottom: 7px;
    right: -16px;
    left: auto;
    z-index: 1;
    width: 137px;
    height: 272px;
  }
}

@media (max-width: 1200px) {
  .steps__content {
    padding-right: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .steps__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
}

.steps__item {
  position: relative;
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 1;
}

.steps__item:first-child {
  margin-right: 16px;
}

@media (max-width: 1200px) {
  .steps__item:first-child {
    margin-right: 0;
  }
}

.steps__item:nth-child(2) {
  margin-right: 80px;
}

@media (max-width: 1200px) {
  .steps__item:nth-child(2) {
    margin-right: 0;
  }
}

.steps__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .steps__item {
    width: 32%;
  }
}

@media (max-width: 768px) {
  .steps__item {
    width: 100%;
    margin-bottom: 10px;
  }
}

.steps__item-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
  opacity: 0.4;
}

.steps__item-desc {
  margin-left: 20px;
  font-size: 18px;
  line-height: 21px;
  color: #5A5A5A;
}

.questions {
  margin-bottom: 70px;
}

.questions__title {
  margin-bottom: 38px;
}

.questions__title p {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #5A5A5A;
}

.question__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.question__content::before {
  content: '';
  position: absolute;
  width: 285px;
  height: 207px;
  background-image: url("../img/questions/questions-leaf1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: -110px;
  top: -74px;
  z-index: -1;
}

@media (max-width: 768px) {
  .question__content::before {
    content: none;
  }
}

@media (max-width: 1000px) {
  .question__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .questions__left {
    margin-bottom: 18px;
  }
}

.questions__left,
.questions__right {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .questions__left,
  .questions__right {
    width: 100%;
  }
}

.questions__item {
  margin-bottom: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.questions__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .questions__item {
    margin-bottom: 10px;
  }
}

.questions__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__title-icon-wrap {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF9900;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (max-width: 400px) {
  .question__title-icon-wrap {
    width: 45px;
  }
}

@media (max-width: 350px) {
  .question__title-icon-wrap {
    width: 50px;
  }
}

.question__title-icon-wrap_active {
  border: 2px solid #C4C4C4;
}

.question__title-icon {
  position: relative;
  width: 13px;
  height: 2px;
  background-color: #FF9900;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.question__title-icon::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 2px;
  background-color: #FF9900;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.question__title-icon_active {
  background-color: #C4C4C4;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.question__title-icon_active::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 2px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-color: #C4C4C4;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.question__item-desc {
  margin-left: 60px;
  font-size: 14px;
  line-height: 16px;
  color: #5A5A5A;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
}

@media (max-width: 550px) {
  .question__item-desc {
    margin-top: 30px;
  }
}

.loock {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.reviews {
  margin-bottom: 25px;
}

.reviews__title {
  margin-bottom: 44px;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__content.owl-theme .owl-nav {
  position: relative;
  bottom: 60px;
}

.reviews__content.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../img/reviews/reviews-next-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.reviews__content.owl-carousel .owl-nav button.owl-next span {
  display: none;
}

.reviews__content.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../img/reviews/reviews-prev-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.reviews__content.owl-carousel .owl-nav button.owl-prev span {
  display: none;
}

.reviews__content.owl-carousel .owl-item img {
  width: auto;
}

.reviews__item {
  position: relative;
  margin-bottom: 26px;
  width: 32%;
  padding: 17px 29px 49px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.reviews__item img {
  position: absolute;
  top: 65px;
  left: 13px;
  z-index: 0;
}

@media (max-width: 1000px) {
  .reviews__item {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .reviews__item {
    width: 100%;
  }
}

.reviews__item-title {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #5A5A5A;
  z-index: 1;
}

.reviews__item-desc {
  position: relative;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #5A5A5A;
  z-index: 1;
}

.reviews__item-text {
  position: relative;
  margin-left: 24px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  z-index: 1;
}

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 41px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1120px) {
  .footer__logo {
    width: 230px;
  }
}

@media (max-width: 1000px) {
  .footer__logo {
    width: 190px;
  }
}

@media (max-width: 840px) {
  .footer__logo {
    width: 140px;
  }
}

@media (max-width: 800px) {
  .footer__logo {
    width: 270px;
    margin-bottom: 34px;
  }
}

@media (max-width: 800px) {
  .footer__nav {
    margin-bottom: 34px;
  }
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__nav-item {
  margin-right: 31px;
}

@media (max-width: 1050px) {
  .footer__nav-item {
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__nav-link {
  font-size: 14px;
  line-height: 16px;
  color: #5A5A5A;
}

@media (max-width: 900px) {
  .footer__nav-link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 800px) {
  .footer__nav-link {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 800px) {
  .footer__tel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__tel-link {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5A5A5A;
}

@media (max-width: 1120px) {
  .footer__tel-link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 1000px) {
  .footer__tel-link {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 840px) {
  .footer__tel-link {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 800px) {
  .footer__tel-link {
    font-size: 24px;
    line-height: 28px;
  }
}

.footer__tel-timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__tel-timetable p {
  margin-left: 7px;
  font-size: 14px;
  line-height: 16px;
  color: #FF9900;
}
/*# sourceMappingURL=main.css.map */