* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.main {
    overflow: hidden;
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px 97px;
    background: linear-gradient(273.85deg, #FF9900 26.38%, #FFC700 72.77%);
    border: 1px solid #FFFFFF;
    box-shadow: 8px 8px 14px rgba(255, 153, 0, 0.36);
    border-radius: 0px 15px;
    font-size: 18px;
    line-height: 21px;
    color: #5A5A5A;
    cursor: pointer;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FF9900;
}

input {


    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-webkit-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #C4C4C4;
    }

    &:-moz-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #C4C4C4;
    }

    &::-moz-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #C4C4C4;
    }

    &:-ms-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #C4C4C4;
    }

    &::-ms-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #C4C4C4;
    }

    &::placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #C4C4C4;
    }
}

.none {
    display: none;
}