.benefits {
    margin-bottom: 58px;
}

.benefits__content {
    position: relative;
    padding-top: 44px;
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    &::before {
        content: '';
        position: absolute;
        width: 114px;
        height: 120px;
        background-image: url('../img/benefits/benefits-leaf1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        bottom: -55px;
        left: 29%;
        z-index: 1;
    }
}

.benefits__item {
    position: relative;
    margin-bottom: 40px;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(4) {
        margin-bottom: 0;
    }

    &:nth-child(5) {
        margin-bottom: 0;
    }

    img {
        margin-bottom: 10px;
    }
}

.benefits__item-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #5A5A5A;
}

.benefits__item-desc {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #5A5A5A;
}